#body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  position: relative;
  padding: 1.5rem 1rem;
}

h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.details{
  padding-left: 20px;
}

.bold {
  font-weight: bold;
}

.btn button{
  font-size:1.3rem;
}

.InnerPalette img ,.canvas img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
  width:50px;
}

.palette {
  margin: 0;
  padding: 0 20px;
  background-color: white;
}

.InnerPalette{
  margin: 0;
  padding: 0;
}

.canvas {
  position: fixed;
  bottom: 0;
  padding: 20px 2vw;
  width: 100%;
  background-color: transparent;
}

.canvas_back{
  background-color: #000;
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
}

.box{
  height: 50px;
  font-size: 0;
}

hr.space {
  margin: 20px 0;
}

.transparent {
  border: 1px black solid;
}

.important {
  color: red;
  font-weight: bold;
}

.dl_btn {
  width: 200px;
  height: 70px;
  font-size: 1.5rem;
}

#super {
  position: absolute;
  top: 63px;
}


summary{
  padding:10px;
  background-color:#d1f2ff;
}

#displayImage{
  margin-top: 20px;
  border: 1px solid; 
  width: 90vw;
}

a {
  word-wrap:break-word;
}
